= form_for(video) do |f|
  - if video.errors.any?
    #error_explanation
      %h2
        = pluralize(video.errors.count, "error")
        prohibited this video from being saved:
      %ul
        - video.errors.full_messages.each do |msg|
          %li= msg
  .field
    = f.label :title
    = f.text_field :title, :required => true
  .field
    = f.label :url, 'Url'
    = f.text_field :url, :required => true, :url => true
  .field.video-length
    = f.label :length, 'Video length'
    = f.select :length, 
      options_for_select(%w(1 5 10 15 20 30 40 50 60 90 120).map {|t| [" ~ #{t} min", t]})
  .actions
    = f.submit 'Suggest a new video'
