.galaxy
  .stars
    &nbsp;&nbsp;&nbsp;
    = image_tag 'planets/star.png', :class => 'star star1'
    = image_tag 'planets/star.png', :class => 'star star2'
    = image_tag 'planets/star.png', :class => 'star star3'
    = image_tag 'planets/star.png', :class => 'star star4'
    = image_tag 'planets/star.png', :class => 'star star5'
    = image_tag 'planets/star.png', :class => 'star star6'
    = image_tag 'planets/star.png', :class => 'star star7'
    = image_tag 'planets/star.png', :class => 'star star8'

    = image_tag 'planets/star.png', :class => 'star star11'
    = image_tag 'planets/star.png', :class => 'star star12'
    = image_tag 'planets/star.png', :class => 'star star13'
    = image_tag 'planets/star.png', :class => 'star star14'
    = image_tag 'planets/star.png', :class => 'star star15'
    = image_tag 'planets/star.png', :class => 'star star16'
    = image_tag 'planets/star.png', :class => 'star star17'
    = image_tag 'planets/star.png', :class => 'star star18'
  .black-hole
    &nbsp;

= render 'shared/logo'

.row
  #desc.large-6.columns
    %h2 
      Next RubyKino already <br>at #{next_meetup_str}!

    %p
      Kino room at third floor:<br>
      18:25 Welcome speech<br>
      18:30 Ruby conf videos<br>
      19:10 Coffee with talks<br>
      19:30 Ruby conf videos<br>
      21:00 Closing talks<br>

    %p 
      It's true hybrid event with high quality conf videos, 
      local lightning talks with drinks and carrots - what else
      does mankind need?

    %p
      You are encouraged and welcomed to talk during video or
      make some announcement. 
      Just talk up and shine with your latest and greatest ruby knowledge.

    %p
      = render 'shared/register'

    %p
      Code contribute? Fork it at 
      = link_to 'Github', 'https://github.com/priit/rubykino'
      RubyKino is sponsored by 
      = link_to 'Gitlab', 'http://gitlab.eu'

  .large-6.columns
    %h2 Videos are selected by you: 
    %ul.video-list
      - @videos.each do |video|
        %li
          .title
            = link_to video.title.strip, video.url
          .votes
            .vote
              = render 'votes/form', :vote => video.votes.build
            .vote-count
              = t('votes', :count => video.votes.size)

    %h2 Suggest a new video:
    = render 'videos/form', :video => @video

    %p= link_to 'List of previously suggested videos', videos_path

